

/*@supports (object-fit: cover) and (display: grid) {
    .browser-alert {
        display: none;
    }
}*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  *, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
    /*margin: 0 auto;*/
    margin: 0 auto;
    padding: 0 4px;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 16px;
    color: #222;
    line-height: 1.4;
    /*max-width: 980px;*/
}

 img {
     max-width: 100%;
     display: block;
   }




 /*========Navigation=========*/

 nav {
  width: 100%;
  background-color:  #0086bc;
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  /*display: flex;
  justify-content: space-between;
  align-items: start;*/
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  font-weight: 525;
  letter-spacing: 2px;
}

.nav-item:hover {
  border-bottom: 4px solid #e0793d ;
  line-height: 1em;
  border-radius: 4px;
  /*transition: all 0.3s ease-in-out;*/
  transform: translateX(.1rem);
  /*transition: all 0.4s ease-in-out;*/
  transition: all 0.2s ease-in;
}

.nav-item:hover a {
  color:#fff;
}


/*=========================Top Container-Feature start==================================*/

.top-container {
  display: grid;
  grid-column: 1/ span 1;
  grid-row: 1/1;
  background-color: #0086bc;
  border-top: 5px solid #e0793d;
  margin-bottom:  20px;

}

.feature-headline {
 margin: 0 auto;
 padding: 2em 6em 3em 6em;
 background-size: 100%
  /*font-size: 4rem;*/

}

  .feature-headline  {
  -webkit-box-shadow:  0 1px 5px rgba(104, 104, 104, 0.9);  
  -moz-box-shadow:     0 1px 5px rgba(104, 104, 104, 0.9);
   box-shadow:         0 1px 5px rgba(104, 104, 104, 0.9);
}

h1.headline  {
  font-size: 2.5em;
   margin-top: 0.1em;
  margin-bottom: 0.1em;
  color: #fff;
  text-align: center;
}
h2.headline2 {
  font-size: 1.6em;
   margin-top: 0.1em;
  margin-bottom: 0.5em;
  color: #ffffff;
  text-align: center;
  
}
.headline-p{
  font-size: 1.1em;
  color: #ffffff;
  margin: 0px 50px 35px 50px;
}

.feature-headline img{
 max-width:50%;
  display: block;
 margin: 0 auto;
}

.btn-adopt{
  background: #e0793d; 
  color: #fff;
  padding: 1em 1.5em;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.8;
  font-style: bold;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-kerning: 2px;
  border-radius: 20px;
  margin: 15px 40% 10px 40%;
  text-align: center;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

}

/*=========================Top Container-Feature end==================================*/




/*=======================Gallery Start======================================*/


/*.gallery-container {
    display: flex;
    flex-wrap: wrap;
    good-> padding: 2rem;
     padding: 2rem;

}

/*.gallery-container > * {
    flex: 1 1 300px;
    align-self: flex-start;
    padding: 1rem;
}*/
/*=======================Gallery Images Start======================================*/

@supports (display: grid) {
    .gallery-container {
        display: grid;
        /*this good grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        /*grid-gap: 2rem;*/
        grid-gap: .825em;
        margin: 0 4px;
        padding: 0px;

    }

    .gallery-container > * {
        padding: .412em;
        border: 3px solid #eee;
        margin-bottom: .412em;
    }
}

.content-gallery figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 30% 0;
    cursor: pointer;
}

.content-gallery figure::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #e0793d 0%, #0086bc 100%);
    content: '';
}


      /*background-image: linear-gradient(0deg, #303030 0%, #00a0d2 100%);*/
  
   
    /*
    AHS orange-->yes from inspect #e0793d  bad-#145884 or #00a0d2.  blue-->yes from inspect #0086bc 
    background-image: hsla(0, 100%, 50%, 0.25);     <---doesn't work like this here*/
     /*background-image: linear-gradient(
      rgba(0, 15, 200, 0.5),
      rgba(0, 15, 200, 0.5));*/
        /*.blue {
          background-image: 
            linear-gradient(
              rgba(0, 15, 200, 0.5),
              rgba(0, 15, 200, 0.5)
            ),*/

.content-gallery figure:hover img {
    opacity: 0.25;
}

.content-gallery figure:hover figcaption {
    opacity: 1;
    transform: translateY(0);
}

.content-gallery figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.3s ease-in-out;
}

.content-gallery figcaption h2 {
    font-size: 1.1em
    /*font-style: bold;
    font-weight: 700;
    /*text-transform: uppercase;*/
}

.content-gallery figcaption a {
    text-decoration: none;
    color: #fff;

}

.content-gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

  /*======== GALLERY-IMAGES END =========*/


/*========pet-info============*/
.pet-text{
  font-size: 1em;
  margin-bottom: 2em;

}
.pet-title {
    margin: 5px 0px;
    padding: 0px 5px;
    text-align: center;
    display: flex;
}

.pet-info{
    margin: 1px auto;
    padding: 0px 1px;
}

.btn-read{
  background: #0086bc; 
  color: #fff;
  padding: 1em 1.3rem;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  margin: 2px 30% 0px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  
}

 .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
  
/* long data
.pet-specifics{
    border: 3px solid #222;
    font-size: 10px;
    padding: 4px;
    width: 50%;
   /* justify-content: center;*/
    /*margin: 0 auto;
    float: left;
  
}
*/


/*https://www.jaimebutler.ch/create-overlay-caption-css/
https://css-tricks.com/examples/SlideinCaptions/

*/

/*========================footer==================*/

#footer-main {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 5px;
  font-size: .9em;
  text-transform: small;
  display: flex;
  justify-content: center;
  align-content: center;
}


/*====================Social==================*/
.social-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px
}
.fa {
  padding: 5px 5px;
  width: 50px;
  height:50px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:100%; 
  text-align:center;
  font-size: 25px;
  font-weight:700;
  line-height: 40px; 
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

